<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="DemoSuite" verbose ="5" parallel="methods" thread-count="10">

    <listeners>
        <listener class-name="utils.ExtentReportListener"></listener>
    </listeners>

    <test name="DemoTest">
        <groups>
            <run>
                <include name="Regression"></include>
            </run>
        </groups>
        <classes>
            <class name="GetTest"></class>
            <class name="PostTest"></class>
        </classes>
    </test>
</suite>